body {
  background-color: black;
}

main {
  display: flex;
  justify-content: center;
}

aside {
  margin: 0 8px;
}

footer {
  margin: 4px;
  text-align: center;
}

a {
  color: lightblue;
}

#message {
  color: red;
}
